.map-and-sidebar-container-height-hack {
    height: calc(100% - var(--navbar-height));
}

.navbar-height {
    height: var(--navbar-height);
}

.filter-sidebar-height {
    height: calc(100% - calc(2 * var(--navbar-height)));
}
